.backtotop {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $primary-color;
    font-size: 1.3rem;
    color: $white-color;
    opacity: 0;
    text-transform: uppercase;
    transform: translateY(50%);
    transition: all .25s ease;
    cursor: pointer;

    &.is-active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    @include mobile() {
        bottom: 20px;
        right: 20px;
    }
}