.banner {
    @include flex (center, center);
    width: 100%;
    min-height: 750px;
    background-image: url(../images/banner/img_banner_bg.png);
    background-size: cover;
    background-position: center;
    &__title {
        overflow: hidden;
        font-family: $secondary-font-bold;
        font-size: 6.5rem;
        font-weight: bold;
        line-height: 6rem;
        color: $white-color;
        text-transform: uppercase;
    
        @include pc() {
            font-size: 4rem;
            line-height: 1;
        }

        @include tablet() {
            font-size: 3.2rem;
            line-height: 1;
        }
    }
    &__text-wrap{
        overflow: hidden;
    }
    &__title-txt {
        margin-right: 12px;
        animation: showTextFromBottom .6s backwards;
    }

    &__txt {
        width: 80%;
        margin: 9rem auto 0;
        @include pc() {
            margin-top: 4rem;
        }

        @include mobile() {
            width: 95%;
        }
    }

    &__subtitle {
        overflow: hidden;
        width: 98%;
        margin: 2.4rem auto 7.3rem;
        font-family: $primary-font;
        font-size: 2.2rem;
        color: $white-color;
        line-height: 3.3rem;
        span {
            display: inline-block;
            transform: translateY(150px);
            transition: opacity .7s ease, transform .7s ease;
            &.is-active {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @include mobile() {
            margin: 2.4rem auto 5.3rem;
            font-size: 1.8rem;
            line-height: 1.5;
        }
    }

    &__title,
    &__subtitle,
    .js-banner-btn {
        transition: opacity .5s ease, transform .5s ease;
        @include tablet {
            &.is-hidden {
                position: relative;
                z-index: -1;
            }
        }

    }
    .js-banner-btn {
        opacity: 0;
        transform: translateY(50px);
        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }
}