.banner {
    background-image: url(../images/header/header_bg.png);
    background-position: center;
    background-size: cover;
    min-height: 750px;
    width: 100%;
    @include flex (center, center);

    &__title {
        overflow: hidden;
        font-family: $secondary-font;
        font-size: 6.5rem;
        font-weight: bold;
        font-weight: 700;
        line-height: 6rem;
        color: $white-color;
        span {
            display: inline-block;
            overflow: hidden;
            > span {
                animation: showTextFromBottom .8s backwards;
                margin-right: 12px;
            }
        }
        text-transform: uppercase;
        @include pc() {
            font-size: 4rem;
            line-height: 1.2;
        }

        @include tablet() {
            font-size: 3.2rem;
            line-height: 1;
        }
    }

    &__txt {
        width: 80%;
        margin: 0 auto;
        margin-top: 9rem;

        @include pc() {
            margin-top: 4rem;
        }

        @include mobile() {
            width: 95%;
        }

    }

    &__subtitle {
        font-family: $primary-font;
        font-size: 2.2rem;
        color: $white-color;
        font-weight: 300;
        width: 98%;
        margin: 2.4rem auto 7.3rem;
        line-height: 3.3rem;
        font-weight: 400;
        transform: translateY(50px);
        transition: opacity .5s ease, transform .5s ease;
        opacity: 0;
        &.active {
            opacity: 1;
            transform: translateY(0);
        }


        @include mobile() {
            font-size: 1.8rem;
            line-height: 1.5;
            margin: 2.4rem auto 5.3rem;
        }
    }
    .banner__title,
    .banner__subtitle,
    .js-banner-btn {
        transition: opacity .5s ease, transform .5s ease;
        @include tablet {
            &.hidden {
                position: relative;
                z-index: -1;
            }
        }

    }
    .js-banner-btn {
        transform: translateY(50px);
        opacity: 0;
        &.active {
            opacity: 1;
            transform: translateY(0);
        }
    }
}