.download {
    padding: 10rem 0;

    &__title {
        font-size: 2.8rem;
        color: $black-color;
        font-weight: 300;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity .4s ease, transform .4s ease;
        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__subtitle {
        display: block;
        margin: 2.2rem 0 4rem;
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $black-color;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity .4s ease, transform .4s ease;
        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .js-download-btn {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity .4s ease, transform .4s ease;
        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }
}