.download {
    padding: 10rem 0;

    &__title {
        font-size: 2.8rem;
        color: $black-color;
        font-weight: 300;
    }

    &__subtitle {
        margin: 2.2rem 0 4rem;
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $black-color;
    }
}