.features {
    margin-top: 12rem;
    &__list {
        @include flex(center,space-between);
        padding: 0 55px;
    }
    &__item {
        width: calc(33.33% - 188px/3);
        text-align: center;
        margin-bottom: 7.5rem;
        @include tablet() {
            width: calc(50% - 94px/2);
        }
        @include mobile() {
            width: 100%;
        }
    }
    &__media {
        @include flex(center,center);
    }
    &__icon {
        display: inline-block;
        background: url(../images/icon/sp_icon.png) no-repeat;
        width: 60px;
        height: 61px;
        margin: 0 auto;
        &--penceil {
            background-position: -45px -63px;
        }
        &--react {
            width: 56px;
            background-position: -109px -63px;
        }
        &--light {
            width: 41px;
            background-position: 0 -63px;
        }
        &--react {
            width: 56px;
            background-position: -109px -63px;
        }
        &--screen {
            width: 73px;
            background-position: -159px 1px;
        }
        &--bag {
            width: 72px;
            background-position: -83px 1px;
        }
        &--download {
            width: 79px;
            background-position: 0px 1px;
        }
    }
    &__title {
        font-size: 1.4rem;
        color: $black-color;
        text-transform: uppercase;
        margin: 3.3rem 0 2.6rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        font-weight: 700;
    }
    &__desc {
        font-size: 1.4rem;
        color: $text-color;
        line-height: 2.2rem;
    }
}