*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $primary-font;
    font-size: 1.6rem;
    color: $text-color;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

ul,
li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

strong,
span,
a {
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
}

button,
button:focus {
    border: none;
    outline: none;
}

.blind {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.btn {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 46px;
    padding-left: 7px;
    border-radius: 2px;
    font-size: 1.3rem;
    font-weight: 400;
    color: $white-color;
    text-transform: uppercase;
    line-height: 46px;
    cursor: pointer;

    &--primary {
        background-color: $primary-color;
    }

    &:after {
        content: "";
        position: absolute;
        top: -50px;
        left: -75px;
        z-index: -10;
        width: 50px;
        height: 155px;
        background: $white-color;
        opacity: .2;
        transform: rotate(35deg);
        transition: left .725s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &:hover {
        &:after {
            left: 120%;
        }
    }
}

.icon {
    background-image: url(../images/icon/sp_icon.png);
    background-size: 232px 146px;
    background-repeat: no-repeat;
    height: 61px;

    &--penceil {
        width: 60px;
        background-position: -45px -63px;
    }

    &--react {
        width: 56px;
        background-position: -109px -63px;
    }

    &--light {
        width: 41px;
        background-position: 0 -63px;
    }

    &--react {
        width: 56px;
        background-position: -109px -63px;
    }

    &--screen {
        width: 73px;
        background-position: -159px 1px;
    }

    &--bag {
        width: 72px;
        background-position: -83px 1px;
    }

    &--download {
        width: 79px;
        background-position: 0px 1px;
    }

    &--facebook,
    &--facebook-gray {
        width: 8px;
        height: 18px;
        background-position: -12px -128px
    }

    &--twitter,
    &--twitter-gray {
        width: 20px;
        height: 14px;
        background-position: -88px -128px;
    }

    &--linkedin,
    &--linkedin-gray {
        width: 16px;
        height: 16px;
        background-position: -44px -128px;
    }

    &--facebook-gray {
        background-position: 0 -127px;
    }

    &--twitter-gray {
        background-position: -64px -128px;
    }

    &--linkedin-gray {
        background-position: -24px -128px;
    }


}