*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include tablet() {}
}


body {
    font-family: $primary-font;
    font-size: 1.6rem;
    color: $text-color;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

ul,
li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    outline: none;
}

button:focus {
    border: none;
    outline: none;
}

.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    line-height: 46px;
    width: 200px;
    height: 46px;
    font-family: $primary-font;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 2px;
    color: $white-color;
    line-height: 2.1rem;
    cursor: pointer;
    padding-left: 7px;

}

.btn.btn--primary {
    background-color: $primary-color;
}