    .gnb {
        @include tablet() {

            &.is-active {
                .gnb__list {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        &__list {
            @include flex(center, center);
            @include tablet() {
                visibility: hidden;
                flex-direction: column;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                width: 100%;
                height: 100vh;
                background-color: $black-dark-color;
                opacity: 0;
                transition: all .4s ease;
            }
        }

        &__item {
            &:not(:last-child) {
                margin-right: 5.9rem;
                @include tablet() {
                    margin-right: 0;
                    margin-bottom: 4rem;
                }
            }
            @include tablet() {
                position: relative;
                top: 50px;
                opacity: 0;
                transition: opacity .4s ease, top .4s ease;
                &.is-active {
                    top: 0;
                    opacity: 1;
                }
            }
        }

        &__link {
            display: inline-block;
            font-family: $primary-font;
            font-size: 1.3rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $light-white-color;
            transition: color .25s ease;

            @include tablet() {
                font-size: 2rem;
            }

            &:hover {
                color: $white-color;
            }

            &.is-active {
                color: $primary-color;
            }
        }
    }