.ourteam {
    margin: 10rem 0;
    @include mobile() {
        margin-bottom: 5rem;
    }

    &__item {
        @include tablet() {
            text-align: center;
        }
    }

    &__avatar {
        @include tablet() {
            margin: 0 auto;
        }
    }

    &__name {
        margin: 2.6rem 0 0.8rem;
        font-size: 2.2rem;
        font-weight: 400;
        color: $black-color;
    }

    &__position {
        margin-bottom: 2.2rem;
        font-size: 1.3rem;
        font-weight: 400;
        color: $primary-color;
        text-transform: uppercase;
    }

    &__desc {
        font-size: 1.4rem;
        color: $text-color;
        line-height: 2.1rem;
        margin-bottom: 2.5rem
    }

    &__socials-list {
        @include flex(center, flex-start);

        @include tablet() {
            @include flex(center, center)
        }
    }

    &__socials-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem;
        margin-right: 5px;
        border: 1px solid $border-color-2;
        cursor: pointer;
        transition: border .25s ease;
        &:hover {
            border-color: transparent;
        }
        &.ourteam__socials-item--btn::before,
        &.ourteam__socials-item--btn::after {
            width: 0%;
            height: 0%;
            opacity: 0;
            transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
        }
        &.ourteam__socials-item--btn::before {
            top: 0;
            right: 0;

            border-top: 2px solid $primary-color;
            border-left: 2px solid $primary-color;
        }
        &.ourteam__socials-item--btn::after {
            bottom: 0;
            left: 0;
            border-bottom: 2px solid $primary-color;
            border-right: 2px solid $primary-color;
        }
        &.ourteam__socials-item--btn:hover::before,
        &.ourteam__socials-item--btn:hover::after {
          width: 100%; height: 99%;
          opacity: 1;
          transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;
        }
    }

    &__socials-icon {
        background: url(../images/icon/sp_icon.png) no-repeat;
        width: 2rem;
        height: 2rem;
        padding: 1rem;
        display: inline-block;

        &::before,
        &::after {
            content: "";
            width: 2px;
            height: 0;
            position: absolute;
            transition: all 0.2s linear;
            background: #fff;
        }



        &--facebook {
            background-position: 7px -127px;
        }

        &--twitter {
            background-position: -64px -125px;
        }

        &--linkedin {
            background-position: -22px -126px;
        }
    }

    .swiper {
        .swiper-wrapper {
            padding-bottom: 7rem;
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                width: 11px;
                border-radius: 1rem;
                background: $primary-color;
                height: 11px;
                transition: width .3s ease;
            }

            .swiper-pagination-bullet-active {
                width: 25px;
            }
        }
    }
}