.ourteam {
    margin: 10rem 0;
    @include mobile() {
        margin-bottom: 5rem;
    }

    &__item {
        position: relative;
        top: 50px;
        opacity: 0;
        transition: top .5s ease, opacity .5s ease;

        &.is-active {
            top: 0;
            opacity: 1;
        }

        @include tablet() {
            text-align: center;
        }
    }

    &__avatar {
        @include tablet() {
            margin: 0 auto;
        }
    }

    &__name {
        display: block;
        margin: 2.6rem 0 0.8rem;
        font-size: 2.2rem;
        font-weight: 400;
        color: $black-color;
    }

    &__position {
        display: inline-block;
        margin-bottom: 2.2rem;
        font-size: 1.3rem;
        font-weight: 400;
        color: $primary-color;
        text-transform: uppercase;
    }

    &__desc {
        margin-bottom: 2.5rem;
        font-size: 1.4rem;
        color: $text-color;
        line-height: 2.1rem;
    }

    &__socials-list {
        @include flex(center, flex-start);
        @include tablet() {
            @include flex(center, center)
        }
    }

    &__socials-item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 4rem;
        height: 4rem;
        margin-right: 5px;
        border: 1px solid $border-color-2;
        cursor: pointer;
        transition: border .25s ease;

        &:hover {
            border-color: transparent;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            width: 0%;
            height: 0%;
            background: transparent;
            opacity: 0;
            transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            border-top: 2px solid $primary-color;
            border-left: 2px solid $primary-color;
            background: transparent;

        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: transparent;
            border-bottom: 2px solid $primary-color;
            border-right: 2px solid $primary-color;
        }

        &:hover::before,
        &:hover::after {
            width: 100%;
            height: 99%;
            opacity: 1;
            transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;
        }
    }


    .swiper {
        &-wrapper {
            padding-bottom: 7rem;
        }

        &-pagination-bullet {
            width: 11px;
            height: 11px;
            background: $primary-color;
            border-radius: 1rem;
            transition: width .3s ease;
            &-active {
                width: 2.5rem;
            }
        }
    }
}