.testimonials {
    &__inner {
        @include flex (center, center);
    }
    &__thumnail,
    &__content {
        height: 500px;
    }
    &__thumnail {
        width: 50%;
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__content {
        width: 50%;
        background-color: $violet-color;
        padding: 10rem;

    }
    &__txt {
        font-family: $third-font;
        color: $white-color;
        font-size: 3.6rem;
        line-height: 4.2rem;
        max-width: 500px;
        font-style: italic;
    }
    &__info {
        display: inline-block;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: $white-color;
        font-weight: 700;
        margin-top: 3rem;
    }

    .swiper {
        .swiper-wrapper {

        }
        .swiper-pagination {
            bottom: 127px;
            left: 270px;
            .swiper-pagination-bullet {
                border-radius: 1rem;
                background: $white-color;
                transition: width .25s ease-in-out;
                width: 12px;
                height: 12px;
            }
            .swiper-pagination-bullet-active {

            }
        }
    }

}