.testimonials {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity .5s ease, transform .5s ease;

    &.is-active {
        opacity: 1;
        transform: translateY(0)
    }

    &__inner {
        @include flex (center, center);
    }

    &__thumnail,
    &__content {
        height: 500px;
    }

    &__thumnail {
        width: 50%;

        @include tablet() {
            width: 100%;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__content {
        width: 50%;
        height: 500px;
        padding: 10rem 10rem 0 10rem;
        background-color: $violet-color;

        @include tablet() {
            width: 100%;
        }


        @include mobile() {
            padding: 2rem;
            height: auto;
        }
    }

    &__txt {
        font-family: $third-font;
        color: $white-color;
        font-size: 3.6rem;
        line-height: 4.2rem;

        @include mobile() {
            font-size: 2.5rem;
        }

        font-style: italic;
    }

    &__info {
        display: inline-block;
        margin-top: 3rem;
        font-size: 1.3rem;
        font-weight: 700;
        color: $white-color;
        text-transform: uppercase;

        @include mobile() {
            font-size: 1rem;
        }
    }

    .swiper {
        &-pagination {
            bottom: 127px;
            left: 270px;

        }

        &-pagination-bullet {
            border-radius: 1rem;
            background: $white-color;
            transition: width .25s ease-in-out;
            width: 12px;
            height: 12px;
        }
    }

}