// colors
$primary-color: #e84545;
$blue-dark-color: #313454;
$blue-light-color: #3a3e64;
$black-color: #2d3033;
$black-dark-color: #2a2d48;
$text-color: #6c7279;
$white-color: #fff;
$light-white-color: #d8d8dc;
$grey-text-color: #808080;
$grey-color: #afb0bc;
$boder-color: #4f5268;
$border-color-2: #e8ecee;
$violet-color: #53354a;
$menu-bg: rgba(0, 0, 0, 0.8);
//size
$pc-width: 1200px;
$tablet-width: 1024px;
$mobile-width: 600px;

//fonts
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$third-font: 'Cardo', serif;