.works {
    &__list {
        @include flex(center, space-between)
    }

    &__item {
        position: relative;
        width: calc(25% - 3px/4);
        margin-bottom: 1px;
        cursor: pointer;
        overflow: hidden;
        opacity: 0;
        transition: opacity .9s;

        @include tablet() {
            width: calc(50% - 1px/2);
        }

        @include mobile() {
            width: 100%;
        }

        &.is-active {
            opacity: 1;
        }

        &:hover .works__img {
            transform: scale(1.2);
        }

        &:hover .works__overlay {
            opacity: .9;
        }

        &:hover .works__title {
            transform: translateY(0);
        }

        &:hover .works__subtitle {
            transform: translateY(0);
        }
    }

    &__img {
        min-height: 35rem;
        width: 100%;
        transition: transform .5s;
        object-fit: cover;
    }

    &__content {
        text-align: center;
    }

    &__overlay {
        @include flex(center, center);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primary-color;
        opacity: 0;
        transition: opacity .3s;
    }

    &__title,
    &__subtitle {
        transition: transform .5s;
    }

    &__title {
        margin-bottom: 1rem;
        font-size: 1.4rem;
        color: $white-color;
        text-transform: uppercase;
        transform: translateY(-200%);
    }

    &__subtitle {
        font-size: 1.4rem;
        color: $white-color;
        transform: translateY(200%);
    }
}