@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;500;600;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before,
::after {
  content: "";
  position: absolute;
  background: transparent;
  z-index: 2;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  color: #6c7279;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

ul,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  outline: none;
}

button:focus {
  border: none;
  outline: none;
}

.text-center {
  text-align: center;
}

.btn {
  width: 200px;
  height: 46px;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 2px;
  color: #fff;
  line-height: 2.1rem;
  cursor: pointer;
  padding-left: 7px;
}

.btn.btn--primary {
  background-color: #e84545;
}

.banner {
  background-image: url(../images/header/header_bg.png);
  background-position: center;
  background-size: cover;
  min-height: 750px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.banner__title {
  font-family: "Open Sans", sans-serif;
  font-size: 6.5rem;
  font-weight: bold;
  font-weight: 700;
  line-height: 7.1rem;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .banner__title {
    font-size: 4rem;
    line-height: 1.2;
  }
}
@media screen and (max-width: 600px) {
  .banner__title {
    font-size: 3.2rem;
    line-height: 1.2;
  }
}
.banner__txt {
  width: 80%;
  margin: 0 auto;
  margin-top: 9rem;
}
@media screen and (max-width: 1200px) {
  .banner__txt {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .banner__txt {
    width: 95%;
  }
}
.banner__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 2.2rem;
  color: #fff;
  font-weight: 300;
  width: 98%;
  margin: 2.4rem auto 7.3rem;
  line-height: 3.3rem;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .banner__subtitle {
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 2.4rem auto 5.3rem;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.header__logo {
  position: relative;
  z-index: 99;
}
.header__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3.8rem 0;
  border-bottom: 1px solid #4f5268;
  transition: padding 0.3s;
}
.header--fixed {
  position: fixed;
  background-color: #2a2d48;
  z-index: 99;
}
.header--fixed .header__inner {
  padding: 2.5rem 0;
  border-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .gnb.active .gnb__list {
    opacity: 1;
    visibility: visible;
  }
}
.gnb__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .gnb__list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #2a2d48;
    flex-direction: column;
    z-index: 98;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
  }
}
.gnb__item:not(:last-child) {
  margin-right: 5.9rem;
}
@media screen and (max-width: 1024px) {
  .gnb__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}
.gnb__link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  color: #d8d8dc;
  transition: color 0.25s ease;
}
@media screen and (max-width: 1024px) {
  .gnb__link {
    font-size: 2rem;
  }
}
.gnb__link:hover {
  color: #fff;
}
.gnb__link.active {
  color: #e84545;
}

.toggle-menu {
  width: 24px;
  height: 24px;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 99;
}
@media screen and (max-width: 1024px) {
  .toggle-menu {
    display: block;
  }
}
.toggle-menu.active .toggle-menu__line:first-child {
  width: 100%;
  transform: translateY(0px) rotate(45deg);
}
.toggle-menu.active .toggle-menu__line:nth-child(2) {
  transform: translateX(150%);
}
.toggle-menu.active .toggle-menu__line:last-child {
  width: 100%;
  transform: translateY(0px) rotate(-45deg);
}
.toggle-menu__icon {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.toggle-menu__line {
  transition: all 0.3s ease-in-out;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  left: 0;
}
.toggle-menu__line:first-child {
  width: 60%;
  transform: translateY(-8px);
}
.toggle-menu__line:last-child {
  width: 70%;
  transform: translateY(8px);
}

.features {
  margin-top: 12rem;
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 55px;
}
.features__item {
  position: relative;
  width: calc(33.33% - 62.6666666667px);
  text-align: center;
  margin-bottom: 7.5rem;
  top: 50px;
  opacity: 0;
  transition: top 0.5s ease, opacity 0.5s ease;
}
.features__item.active {
  opacity: 1;
  top: 0;
}
@media screen and (max-width: 1024px) {
  .features__item {
    width: calc(50% - 47px);
  }
}
@media screen and (max-width: 600px) {
  .features__item {
    width: 100%;
  }
}
.features__media {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.features__icon {
  display: inline-block;
  background: url(../images/icon/sp_icon.png) no-repeat;
  width: 60px;
  height: 61px;
  margin: 0 auto;
}
.features__icon--penceil {
  background-position: -45px -63px;
}
.features__icon--react {
  width: 56px;
  background-position: -109px -63px;
}
.features__icon--light {
  width: 41px;
  background-position: 0 -63px;
}
.features__icon--react {
  width: 56px;
  background-position: -109px -63px;
}
.features__icon--screen {
  width: 73px;
  background-position: -159px 1px;
}
.features__icon--bag {
  width: 72px;
  background-position: -83px 1px;
}
.features__icon--download {
  width: 79px;
  background-position: 0px 1px;
}
.features__title {
  font-size: 1.4rem;
  color: #2d3033;
  text-transform: uppercase;
  margin: 3.3rem 0 2.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  font-weight: 700;
}
.features__desc {
  font-size: 1.4rem;
  color: #6c7279;
  line-height: 2.2rem;
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.works__item {
  cursor: pointer;
  width: calc(25% - 0.75px);
  margin-bottom: 1px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: opacity 0.9s;
}
@media screen and (max-width: 1024px) {
  .works__item {
    width: calc(50% - 0.5px);
  }
}
@media screen and (max-width: 600px) {
  .works__item {
    width: 100%;
  }
}
.works__item.active {
  opacity: 1;
}
.works__item:hover .works__img {
  transform: scale(1.2);
}
.works__item:hover .works__overlay {
  opacity: 0.9;
}
.works__item:hover .works__title {
  transform: translateY(0);
}
.works__item:hover .works__subtitle {
  transform: translateY(0);
}
.works__img {
  min-height: 35rem;
  width: 100%;
  transition: transform 0.5s;
  object-fit: cover;
}
.works__content {
  text-align: center;
}
.works__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #e84545;
  opacity: 0;
  transition: opacity 0.3s;
}
.works__title, .works__subtitle {
  transition: transform 0.5s;
}
.works__title {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1rem;
  transform: translateY(-200%);
}
.works__subtitle {
  font-size: 1.4rem;
  color: #fff;
  transform: translateY(200%);
}

.ourteam {
  margin: 10rem 0;
}
@media screen and (max-width: 600px) {
  .ourteam {
    margin-bottom: 5rem;
  }
}
.ourteam__item {
  position: relative;
  top: 50px;
  opacity: 0;
  transition: top 0.5s ease, opacity 0.5s ease;
}
.ourteam__item.active {
  opacity: 1;
  top: 0;
}
@media screen and (max-width: 1024px) {
  .ourteam__item {
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .ourteam__avatar {
    margin: 0 auto;
  }
}
.ourteam__name {
  margin: 2.6rem 0 0.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  color: #2d3033;
}
.ourteam__position {
  margin-bottom: 2.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: #e84545;
  text-transform: uppercase;
}
.ourteam__desc {
  font-size: 1.4rem;
  color: #6c7279;
  line-height: 2.1rem;
  margin-bottom: 2.5rem;
}
.ourteam__socials-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 1024px) {
  .ourteam__socials-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.ourteam__socials-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  margin-right: 5px;
  border: 1px solid #e8ecee;
  cursor: pointer;
  transition: border 0.25s ease;
}
.ourteam__socials-item:hover {
  border-color: transparent;
}
.ourteam__socials-item.ourteam__socials-item--btn::before, .ourteam__socials-item.ourteam__socials-item--btn::after {
  width: 0%;
  height: 0%;
  opacity: 0;
  transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
}
.ourteam__socials-item.ourteam__socials-item--btn::before {
  top: 0;
  right: 0;
  border-top: 2px solid #e84545;
  border-left: 2px solid #e84545;
}
.ourteam__socials-item.ourteam__socials-item--btn::after {
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #e84545;
  border-right: 2px solid #e84545;
}
.ourteam__socials-item.ourteam__socials-item--btn:hover::before, .ourteam__socials-item.ourteam__socials-item--btn:hover::after {
  width: 100%;
  height: 99%;
  opacity: 1;
  transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;
}
.ourteam__socials-icon {
  background: url(../images/icon/sp_icon.png) no-repeat;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  display: inline-block;
}
.ourteam__socials-icon::before, .ourteam__socials-icon::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
.ourteam__socials-icon--facebook {
  background-position: 7px -127px;
}
.ourteam__socials-icon--twitter {
  background-position: -64px -125px;
}
.ourteam__socials-icon--linkedin {
  background-position: -22px -126px;
}
.ourteam .swiper .swiper-wrapper {
  padding-bottom: 7rem;
}
.ourteam .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 11px;
  border-radius: 1rem;
  background: #e84545;
  height: 11px;
  transition: width 0.3s ease;
}
.ourteam .swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 25px;
}

.testimonials__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.testimonials__thumnail, .testimonials__content {
  height: 500px;
}
.testimonials__thumnail {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .testimonials__thumnail {
    width: 100%;
  }
}
.testimonials__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.testimonials__content {
  width: 50%;
  background-color: #53354a;
  padding: 10rem 10rem 0 10rem;
  height: 500px;
}
@media screen and (max-width: 1024px) {
  .testimonials__content {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .testimonials__content {
    padding: 2rem;
    height: auto;
  }
}
.testimonials__txt {
  font-family: "Cardo", serif;
  color: #fff;
  font-size: 3.6rem;
  line-height: 4.2rem;
  font-style: italic;
}
@media screen and (max-width: 600px) {
  .testimonials__txt {
    font-size: 2.5rem;
  }
}
.testimonials__info {
  display: inline-block;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin-top: 3rem;
}
@media screen and (max-width: 600px) {
  .testimonials__info {
    font-size: 1rem;
  }
}
.testimonials .swiper .swiper-pagination {
  bottom: 127px;
  left: 270px;
}
.testimonials .swiper .swiper-pagination .swiper-pagination-bullet {
  border-radius: 1rem;
  background: #fff;
  transition: width 0.25s ease-in-out;
  width: 12px;
  height: 12px;
}
.download {
  padding: 10rem 0;
}
.download__title {
  font-size: 2.8rem;
  color: #2d3033;
  font-weight: 300;
}
.download__subtitle {
  margin: 2.2rem 0 4rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d3033;
}

.footer {
  background-color: #3a3e64;
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7.5rem 0 11.5rem;
}
@media screen and (max-width: 1024px) {
  .footer__inner {
    padding: 5rem 0 5rem;
  }
}
.footer__item {
  width: 33.33%;
}
@media screen and (max-width: 1024px) {
  .footer__item {
    width: 100%;
  }
}
.footer__item:not(:last-child) {
  margin-bottom: 5rem;
}
.footer__title {
  margin-bottom: 2.3rem;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.footer__txt {
  font-size: 1.4rem;
  color: #afb0bc;
  line-height: 2.2rem;
}
.footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.footer__socials-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 3px;
  cursor: pointer;
}
.footer__socials-icon {
  display: inline-block;
  background: url(../images/icon/sp_icon.png) no-repeat;
  background-position: 20px 20px;
  width: 8px;
  height: 18px;
}
.footer__socials-icon--facebook {
  background-position: -12px -128px;
}
.footer__socials-icon--twitter {
  width: 20px;
  height: 14px;
  background-position: -88px -128px;
}
.footer__socials-icon--linkedin {
  width: 16px;
  height: 16px;
  background-position: -44px -128px;
}
.footer__copyright {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 2.2rem;
  padding: 3rem 0;
  background-color: #313454;
}
.footer__copyright-txt {
  font-size: 1.4rem;
  color: #808080;
}
.footer__copyright-icon {
  color: #fff;
}

.backtotop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  z-index: 97;
  text-transform: uppercase;
  background-color: #e84545;
  color: #fff;
  border-radius: 50%;
  font-size: 1.3rem;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all 0.25s ease;
  transform: translateY(50%);
}
@media screen and (max-width: 600px) {
  .backtotop {
    bottom: 20px;
    right: 20px;
  }
}
.backtotop.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/*# sourceMappingURL=style.css.map */
